.card{
    background-color: var(--secondry-color);
    width: 1200px;
}

/* input[type = text],input[type = email]{
height: 50px;
padding-left: 20px;
font-size: 13px;
width: 100px;    
} */

/* .btn-sub{
    height: 40px;
    border: none;
    font-size: 13px;
    background-color: var(--primary-color);
} */

.subs-text{
    width: 500px;
}