<div class="bg-theme p-5">
    <div class="container">
        <h1 class="text-white">General Knowledge</h1>
        <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus debitis nihil quidem voluptate nisi, tempore odio molestiae esse, suscipit voluptatem porro hic reiciendis amet reprehenderit. Porro debitis voluptate perspiciatis nisi?</p>
    </div>
</div>
<div class="container mb-5 mt-5">
    <div class="row">
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-3 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</div>