<section class="featured-section">
    <div class="container fluid">
        <div class="row">
            <div class="col-md-12 text-center mt-5">
                <h2 class="text-white"> Featured-Posts </h2>
                <p class="text-white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta beatae eaque error odio odit amet ab officia ducimus! Quo delectus similique a laudantium, ex vel est asperiores obcaecati fugit?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3" *ngFor="let featurePost of featuredPostArray">
                <app-post-card [postData] = "featurePost"></app-post-card>
            </div>
        </div>
    </div>

</section>

<section class="container mt-5">
    <div class="col-md-12 text-center">
        <h2>Latest Posts</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis dicta ducimus eaque vero quam odit, tempora omnis, dignissimos fugit dolor, iste aliquam illum recusandae obcaecati. Sequi ipsa culpa quos repellat.</p>
    </div>

    <div class="row">
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>  
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
        <div class="col-md-4 mt-3">
            <app-post-card></app-post-card>
        </div>
    </div>
</section>