<div class="container">
    <div class="row">
        <div class="col-md-9">
            <div class="card">
                <img src="https://images.pexels.com/photos/730541/pexels-photo-730541.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="post-img" class="card-img-top img-fluid">
                <div class="card-body">
                    <small class="bg-light text-danger text-center"> Design </small>
                    <small class="bg-light text-success text-center ml-3"> Featured </small>
                    <small class="bg-light text-info text-center ml-3">Views - 100,909 </small>
                    <small class="bg-light text-warning text-center ml-3"> LAST UPDATED - 20 SEP, 2024</small>

                    <h1 class="mt-3 mb-3">HOW TO DEPLOY APP ON SERVER FREE ANGULAR APPLICATION</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat accusamus, incidunt laborum
                        minima nihil corporis ipsa reprehenderit! Aliquid est voluptatem dolor, blanditiis error
                        praesentium minima consequatur commodi nulla ullam doloremque voluptatibus corporis quibusdam
                        earum veritatis officia nesciunt dicta labore voluptatum repellat voluptate. Voluptatum, nulla
                        quasi iusto corrupti ipsa, accusamus mollitia perspiciatis consequuntur sed deleniti quos et
                        suscipit nesciunt ad magnam provident earum sapiente, itaque quo. Beatae sapiente fugit animi
                        nulla atque velit quasi, numquam natus nostrum quam accusantium dolore, iusto est! Laboriosam
                        quod minus quo aut veniam cumque quas asperiores qui repellat dolores eos, laudantium molestiae
                        quia saepe fugit culpa maxime eaque rem magnam. Officiis tempore incidunt inventore cupiditate,
                        iste fugit laborum quidem mollitia veniam velit quos nostrum sequi dicta ut asperiores
                        necessitatibus repellendus. Maiores, eum et commodi excepturi amet laborum, consectetur
                        blanditiis reprehenderit delectus dicta nisi ut, tempora ducimus ab numquam natus quae maxime!
                        Impedit, at, mollitia blanditiis asperiores deleniti ullam quia ab consequuntur praesentium
                        beatae nesciunt esse alias? Unde ut quae quisquam similique assumenda provident deleniti aut
                        dolor aspernatur dolorum laudantium iste cupiditate ullam magni inventore, explicabo adipisci
                        fuga quis hic eius, optio exercitationem. Aliquam eius voluptatem recusandae dicta illo vel
                        cupiditate labore, corrupti facilis consequuntur. Pariatur fugiat dolore natus aspernatur, eius
                        hic cupiditate dignissimos, odio repellat rerum veritatis? Facilis exercitationem accusamus
                        necessitatibus facere eius et harum natus doloremque, voluptatem nobis neque autem eos unde
                        expedita vero. Veritatis quia, ullam quo sint aliquam soluta fugiat asperiores recusandae
                        deleniti, officia nesciunt incidunt numquam totam nulla? Quaerat, fuga quasi aliquam, non, culpa
                        cumque iste ducimus aliquid maxime laborum odio pariatur quis ab distinctio? Illo excepturi
                        molestiae quidem eum necessitatibus quae, architecto odio. Quidem esse consequatur quaerat fugit
                        nam nulla id sint tenetur mollitia qui corrupti commodi non iste numquam corporis placeat
                        dolorum, itaque aspernatur harum magni natus ratione ipsum fuga! Cum eum enim aut corrupti
                        incidunt dolore in voluptatum eius nostrum natus vero esse consequatur, fuga accusamus nemo,
                        debitis dolorem! Quod recusandae sapiente ullam eveniet iure facere velit officiis totam
                        consequuntur sequi aperiam consequatur, sint iusto architecto ipsam deleniti placeat nostrum
                        dolorem eum rem praesentium. Nemo omnis sapiente, quisquam harum eum, praesentium saepe delectus
                        nesciunt magni aut unde placeat qui, animi asperiores eius expedita ab vero reprehenderit
                        cupiditate voluptate nostrum. Explicabo libero quos consectetur corporis commodi, dolorum
                        aliquid ipsum odio enim aliquam asperiores reprehenderit quam ducimus a, id qui obcaecati
                        praesentium animi ipsam et excepturi labore quaerat. Delectus ea sequi commodi nobis atque
                        aliquam consequatur tenetur laborum asperiores officia, minima soluta aperiam expedita animi
                        blanditiis! Laborum debitis deleniti odio temporibus exercitationem maiores libero enim, dolor
                        officiis sint, molestias cum, quaerat fuga. In consequuntur culpa quod eius, itaque cum officia.
                        Ullam quasi ex eveniet rem unde facere rerum sed dolorem, perspiciatis incidunt. Perferendis,
                        natus ratione debitis a iure praesentium dolor, et, voluptate nobis velit fugit totam officiis
                        quasi corrupti qui non harum sed quidem! Quia odio ipsum in quam cupiditate natus facilis iusto.
                        Ipsum cupiditate perferendis incidunt dolorem temporibus nam animi, tempore dolores sunt labore
                        repellat veniam ullam sit odio quia nulla minus libero pariatur dignissimos, ipsam illo autem
                        fuga ratione inventore. Maiores, architecto. Suscipit vero molestiae obcaecati commodi, maxime
                        dignissimos saepe expedita aliquam similique optio vitae, asperiores, consequuntur architecto.
                        Ab molestias provident voluptatem, magnam esse hic ipsam obcaecati quo iure, perferendis nostrum
                        culpa libero beatae, enim repudiandae quae velit blanditiis. Dignissimos itaque vero voluptatem
                        neque at placeat a voluptate. Atque sit nemo eius, itaque minima temporibus, reiciendis iste
                        modi amet debitis autem veritatis! Quo quae facere soluta in obcaecati laborum illum doloremque
                        sapiente eveniet. Tempora labore, nesciunt nostrum iusto aut voluptates praesentium delectus
                        officia vel accusantium alias necessitatibus ipsa unde pariatur laborum maxime, non nobis
                        doloremque modi doloribus. Deleniti unde ut sapiente adipisci veniam necessitatibus beatae,
                        consequatur aliquid laboriosam eveniet ab autem provident. Soluta quasi ea modi labore
                        perspiciatis quidem quaerat molestiae molestias. Alias maxime totam laudantium praesentium
                        libero sunt facere esse eligendi ab cum, molestias deleniti dolores aliquam autem accusamus
                        cumque explicabo voluptatum beatae exercitationem corporis? Voluptatum rerum quod iusto optio
                        tenetur dolorum libero, natus aperiam laboriosam accusantium quibusdam explicabo nisi veritatis?
                        Porro quos beatae consequuntur doloribus aliquam soluta neque minus, officia nulla perspiciatis
                        qui corporis hic adipisci ipsa! Repellat maxime perspiciatis quasi repellendus laudantium
                        facere? Blanditiis quasi non optio nulla voluptates, dolore labore eligendi minima molestiae
                        exercitationem laudantium officia aliquam similique expedita quisquam assumenda incidunt.
                        Corporis dolore quo molestiae pariatur, dolores animi ex in minima possimus deserunt distinctio
                        doloremque quibusdam itaque expedita tenetur similique perferendis molestias ut illum atque
                        quisquam error, cupiditate reprehenderit. Animi debitis quo eveniet inventore numquam molestiae,
                        quae at asperiores totam atque officiis, commodi veritatis aliquam velit voluptate, esse dolorem
                        adipisci? Minima, id doloremque molestias consectetur nulla tenetur distinctio delectus, rerum
                        aut eveniet iure eligendi aliquam nam dolore minus? Voluptas in aperiam aspernatur sequi enim
                        molestiae alias corrupti eligendi itaque veritatis, pariatur harum vero nesciunt repellat dolore
                        neque explicabo commodi, eveniet sapiente suscipit dolor ab consectetur facilis. Laborum sit
                        accusamus impedit, numquam aliquam omnis vero! Quidem quis architecto nesciunt ullam tempore
                        sapiente porro laboriosam tempora minus corrupti facilis veniam cum magnam eaque, provident at
                        delectus doloremque, corporis beatae, atque rem? Explicabo, laboriosam? Quam quod placeat nisi
                        voluptas quasi assumenda cumque accusamus officiis id laborum totam, aliquam in aut. Alias
                        harum, quasi magnam perspiciatis eius nihil iusto soluta ut illo laudantium odio, voluptatum
                        accusamus consectetur aliquid veniam amet tempora fugiat tempore. Sunt sapiente asperiores cum
                        est soluta ducimus ipsam blanditiis tempore itaque vero consectetur, corrupti ex id nihil
                        praesentium nobis dignissimos cupiditate quibusdam. Rerum eum ullam, maxime eius ex deleniti
                        voluptate recusandae aut iste dolores neque vero dolore totam veritatis similique veniam amet
                        ratione mollitia nobis ipsam aliquam libero voluptatibus quisquam corporis. Quidem iste porro
                        consequatur distinctio dolores a ad placeat est modi dicta voluptates tempora illum autem
                        perferendis sunt ullam expedita, dolor vero deleniti nobis. Consequatur rerum reiciendis facilis
                        nam nihil dicta quod saepe quos, dignissimos ipsam ullam hic eveniet temporibus modi maxime ad
                        harum? Ut accusantium error cupiditate temporibus commodi delectus necessitatibus cum, obcaecati
                        aliquam, dicta fugiat dolorem! Possimus qui explicabo nam quidem ea.</p>

                </div>
            </div>
            <app-comments-form></app-comments-form>
        </div>
        <div class="col-md-3">
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
            <app-post-card></app-post-card>
        </div>
    </div>
</div>