/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

:root {
    --primary-color : #026467;
    --secondry-color : #e5f5ea;
    --body-text-color: #596392;
    --navbar-footer-color: #f9f9f9;
}

body {  
    font-family: "Roboto", sans-serif;
    color: var(--primary-color);
    font-size: 12px;
}

.nav-link{
    color: var(--primary-color);
}

.site-logo{
    padding: 5px 20px;
    border-radius: 20px;
    background-color: var(--secondry-color);
    color: var(--primary-color);
}
.shadow-effect{
    background-color: var(--secondry-color);
    border: none;
    box-shadow: 0px 0px 33px -10px rgba(71, 114, 254, 0.3);
}