<div class="card shadow-effect">
    <img src="https://images.pexels.com/photos/20780444/pexels-photo-20780444/free-photo-of-person-hand-holding-shiny-glass-mug.jpeg" alt="post-card" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center"> Design </small>
        <small class="bg-light text-danger text-center ml-3"> Feature </small>
        <small class="bg-light text-danger text-center ml-3"> Views 123,467,78 </small>
        
        <h5 class="mt-1">HOW TO START CODING</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi impedit ex perferendis similique, mollitia ea, odio corporis quasi, rem dolor ipsum? Eveniet labore vero, deleniti ea quas dolorum cupiditate commodi.</p>

        <small class="bg-light text-warning text-center ml-3">LAST UPDATED - SEP 20 ,2021</small>
    </div>
</div>